<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header') %>
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include('./partials/pat_nav') %>
    
    <%- include('./partials/script') %>
</body>
</html>
